*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: white;
}

html{
    scroll-behavior: smooth;
    font-size: 60%;
    overflow-x: hidden;

}
body{
    background: #080808;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px #ff004f;
}
.navbar a{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}
.navbar a:hover,
.navbar a.active{
    color: #ff004f;
    border-bottom: 3px solid #ff004f;


}
#menu-icon{
    font-size: 3.6rem;
    color: #ff004f;
    display: none;
}

.container{
    padding: 10px 10%;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;    
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: #ff004f;
}
.logo span{
    color: #ff004f;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;    
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #ff004f;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px #ff004f,
                0 0 50px #ff004f,
                0 0 100px #ff004f
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;    
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4rem;
    background: transparent;
    border: 2px solid #ff004f;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #ff004f;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
    

}
.social-icons a:hover{
    color: #fff;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #ff004f;
    background-color: #ff004f;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #ff004f;
    box-shadow: 0 0 25px #ff004f;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #080808;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #ff004f;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #080808;
    color: #ff004f;
    border: 2px solid #ff004f;
    box-shadow: 0 0 25px transparent;

}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #ff004f;
    background-color: #ff004f;
    color: #080808;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: #ff004f;
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid #ff004f;
    }
}
@keyframes words{
    0%,
    20%{
        content: "Full-Stack Developer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI / UX Designer"
    }
    61%,
    80%{
        content: "Web Developer"
    }
    81%,
    100%{
        content: "Graphics Designer"
    }

}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


/* ----------------about---------------- */
#about{
    padding: 5px 0;
    margin-top: px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 410px;
    border-radius: 15px;
    background-color: grey;
}
.about-col-2{
    flex-basis: 60%;


}

.sub-title{
    font-size: 40px;
    font-weight: 300;
    color: #fff;

}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
    

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 5px 0;

}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;

}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}

/*-----------------services-----------------*/
#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*----------------portfolio------------------*/
#portfolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;

}

/*-----------contact------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-left: 15px;
    font-size: 20px;

}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;

}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.p{
    padding-bottom: 10px;
}
.c{
    padding-bottom: 10px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;


}
.copyright{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 30px;
}
.copyright i{
    color: #ff004f;
}

/*----------css for small screens--------------*/
nav .fas{
    display: none;

}
@media only screen and (max-width: 600px) {
    #header{
       
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;


    }
    nav .fas{
    display: block;
    font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;


    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;

    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
        margin-top: -40px;
        display: block;


    }

    
}
#msg{
    color: #61b752;
}